@import '../styles/_variables';

.product-detail {
  margin: $box_padding auto;
  background: white;
  padding: $price_margin;
  display: flex;
  box-sizing: border-box;
  .left {
    flex: 3;
  }

  .right {
    flex: 1;
  }

  .item-title {
    font-size: $price_font_size;
    margin: 0;
  }

  .item-price {
    font-size: $main_title_font_size;
    margin: $price_margin 0;
  }

  .item-condition {
    font-size: $condition_font_size;
    color: $grey_middle;
    margin-bottom: $box_padding;
  }

  .item-picture {
    img {
      width: auto;
      height: 680px;
    }
  }

  .item-description {
    font-size: $description_font_size;
    color: $grey_middle;

    * {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}
