// Colors
$meli_yellow: #ffe600;
$dark_grey: #333;
$grey_middle: #666;
$grey: #999;
$light_grey: #eee;
$meli_blue: #3483fa;

// Font Sizing
$main_title_font_size: 46px;
$sub_title_font_size: 28px;
$price_font_size: 24px;
$title_font_size: 18px;
$description_font_size: 16px;
$condition_font_size: 14px;
$location_font_size: 12px;

// Spacing

$box_padding: 16px;
$price_margin: 32px;

// Borders

$thumb_border_radius: 4px;
